<a href="https://colab.research.google.com/github/JuanXo375/AlgorithmsUN2023I/blob/main/Lab2/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%matplotlib inline
!pip install -U fortran-magic
%load_ext fortranmagic

import sys; sys.path.append('..')

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

mpl.rc('figure', figsize=(12, 7))

ran_the_first_cell = True

jan2017 = pd.to_datetime(['2017-01-03 00:00:00+00:00',
 '2017-01-04 00:00:00+00:00',
 '2017-01-05 00:00:00+00:00',
 '2017-01-06 00:00:00+00:00',
 '2017-01-09 00:00:00+00:00',
 '2017-01-10 00:00:00+00:00',
 '2017-01-11 00:00:00+00:00',
 '2017-01-12 00:00:00+00:00',
 '2017-01-13 00:00:00+00:00',
 '2017-01-17 00:00:00+00:00',
 '2017-01-18 00:00:00+00:00',
 '2017-01-19 00:00:00+00:00',
 '2017-01-20 00:00:00+00:00',
 '2017-01-23 00:00:00+00:00',
 '2017-01-24 00:00:00+00:00',
 '2017-01-25 00:00:00+00:00',
 '2017-01-26 00:00:00+00:00',
 '2017-01-27 00:00:00+00:00',
 '2017-01-30 00:00:00+00:00',
 '2017-01-31 00:00:00+00:00',
 '2017-02-01 00:00:00+00:00'])
calendar = jan2017.values.astype('datetime64[D]')

event_dates = pd.to_datetime(['2017-01-06 00:00:00+00:00', 
                             '2017-01-07 00:00:00+00:00', 
                             '2017-01-08 00:00:00+00:00']).values.astype('datetime64[D]')
event_values = np.array([10, 15, 20])

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fortran-magic in /usr/local/lib/python3.8/dist-packages (0.7)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from fortran-magic) (1.22.4)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from fortran-magic) (7.9.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (5.7.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (2.0.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (0.18.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->fortran-magic) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->fortran-magic) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->fortran-magic) (0.2.6)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->fortran-magic) (1.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->fortran-magic) (0.7.0)

/usr/local/lib/python3.8/dist-packages/fortranmagic.py:147: UserWarning: get_ipython_cache_dir has moved to the IPython.paths module since IPython 4.0.
  self._lib_dir = os.path.join(get_ipython_cache_dir(), 'fortran')

<center>
  <h1>The PyData Toolbox</h1>
  <h3>Scott Sanderson (Twitter: @scottbsanderson, GitHub: ssanderson)</h3>
  <h3><a href="https://github.com/ssanderson/pydata-toolbox">https://github.com/ssanderson/pydata-toolbox</a></h3>
</center>

# About Me:

<img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/me.jpg" alt="Drawing" style="width: 300px;"/>

- Senior Engineer at [Quantopian](www.quantopian.com)
- Background in Mathematics and Philosophy
- **Twitter:** [@scottbsanderson](https://twitter.com/scottbsanderson)
- **GitHub:** [ssanderson](github.com/ssanderson)

## Outline

- Built-in Data Structures
- Numpy `array`
- Pandas `Series`/`DataFrame`
- Plotting and "Real-World" Analyses

# Data Structures

> Rule 5. Data dominates. If you've chosen the right data structures and organized things well, the algorithms
will almost always be self-evident. Data structures, not algorithms, are central to programming.

- *Notes on Programming in C*, by Rob Pike.

# Lists

In [3]:
assert ran_the_first_cell, "Oh noes!"

In [4]:
l = [1, 'two', 3.0, 4, 5.0, "six"]
l

[1, 'two', 3.0, 4, 5.0, 'six']

In [5]:
# Lists can be indexed like C-style arrays.
first = l[0]
second = l[1]
print("first:", first)
print("second:", second)

first: 1
second: two

In [6]:
# Negative indexing gives elements relative to the end of the list.
last = l[-1]
penultimate = l[-2]
print("last:", last)
print("second to last:", penultimate)

last: six
second to last: 5.0

In [7]:
# Lists can also be sliced, which makes a copy of elements between 
# start (inclusive) and stop (exclusive)
sublist = l[1:3]
sublist

['two', 3.0]

In [8]:
# l[:N] is equivalent to l[0:N].
first_three = l[:3]
first_three

[1, 'two', 3.0]

In [9]:
# l[3:] is equivalent to l[3:len(l)].
after_three = l[3:]
after_three

[4, 5.0, 'six']

In [10]:
# There's also a third parameter, "step", which gets every Nth element.
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h']
l[1:7:2]

['b', 'd', 'f']

In [11]:
# This is a cute way to reverse a list.
l[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [12]:
# Lists can be grown efficiently (in O(1) amortized time).
l = [1, 2, 3, 4, 5]
print("Before:", l)
l.append('six')
print("After:", l)

Before: [1, 2, 3, 4, 5]
After: [1, 2, 3, 4, 5, 'six']

In [13]:
# Comprehensions let us perform elementwise computations.
l = [1, 2, 3, 4, 5]
[x * 2 for x in l]

[2, 4, 6, 8, 10]

## Review: Python Lists

- Zero-indexed sequence of arbitrary Python values.
- Slicing syntax: `l[start:stop:step]` copies elements at regular intervals from `start` to `stop`.
- Efficient (`O(1)`) appends and removes from end.
- Comprehension syntax: `[f(x) for x in l if cond(x)]`.

# Dictionaries

In [14]:
# Dictionaries are key-value mappings.
philosophers = {'David': 'Hume', 'Immanuel': 'Kant', 'Bertrand': 'Russell'}
philosophers

{'David': 'Hume', 'Immanuel': 'Kant', 'Bertrand': 'Russell'}

In [15]:
# Like lists, dictionaries are size-mutable.
philosophers['Ludwig'] = 'Wittgenstein'
philosophers

{'David': 'Hume',
 'Immanuel': 'Kant',
 'Bertrand': 'Russell',
 'Ludwig': 'Wittgenstein'}

In [16]:
del philosophers['David']
philosophers

{'Immanuel': 'Kant', 'Bertrand': 'Russell', 'Ludwig': 'Wittgenstein'}

In [17]:
# No slicing.
philosophers['Bertrand':'Immanuel']

TypeError: ignored

## Review: Python Dictionaries

- Unordered key-value mapping from (almost) arbitrary keys to arbitrary values.
- Efficient (`O(1)`) lookup, insertion, and deletion.
- No slicing (would require a notion of order).

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/pacino.gif" alt="Drawing" style="width: 100%;"/></center>

In [18]:
# Suppose we have some matrices...
a = [[1, 2, 3],
     [2, 3, 4],
     [5, 6, 7],
     [1, 1, 1]]

b = [[1, 2, 3, 4],
     [2, 3, 4, 5]]

In [19]:
def matmul(A, B):
    """Multiply matrix A by matrix B."""
    rows_out = len(A)
    cols_out = len(B[0])
    out = [[0 for col in range(cols_out)] for row in range(rows_out)]
    
    for i in range(rows_out):
        for j in range(cols_out):
            for k in range(len(B)):
                out[i][j] += A[i][k] * B[k][j]
    return out

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/gross.gif" alt="Drawing" style="width: 50%;"/></center>

In [20]:
%%time

matmul(a, b)

CPU times: user 30 µs, sys: 4 µs, total: 34 µs
Wall time: 38.9 µs

[[5, 8, 11, 14], [8, 13, 18, 23], [17, 28, 39, 50], [3, 5, 7, 9]]

**My own example 0 - cpu info**

In [21]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.154
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.30
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2200.154
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4400.30
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

**My own example 1 - Changing in matmul(A, B) Python len(B) (# of rows of B) for len(A[0]) (# of columns of A)**

In [22]:
def matmul(A, B):
    """Multiply matrix A by matrix B."""
    rows_out = len(B)
    cols_out = len(A[0])
    out = [[0 for col in range(cols_out)] for row in range(rows_out)]
    
    for i in range(rows_out):
        for j in range(cols_out):
            for k in range(len(A)):
                out[i][j] += B[i][k] * A[k][j]
    return out

**My own example 2 - Verifiying error with in matmul(A, B) Python with the original matrices when changing len(B) (# of rows of B) for len(A[0]) (# of colums of A)**

In [23]:
matmul(a,b)

[[24, 30, 36], [33, 42, 51]]

**My own example 3 - Chekcing the mtarix multiplication compatibility condition  len(A[0]) == len(B)**

In [2]:
def matmul(A, B):
    """Multiply matrix A by matrix B."""
    rows_out = len(A)
    cols_out = len(B[0])
    if(len(A[0])!=len(B)):
      return "Error compatibility matriz."
    out = [[0 for col in range(cols_out)] for row in range(rows_out)]
    
    for i in range(rows_out):
        for j in range(cols_out):
            for k in range(len(B)):
                out[i][j] += A[i][k] * B[k][j]
    return out

**My own example 4 -  Verifiying error with in matmul(A, B) Python when checking the mtarix multiplication compatibility condition  len(A[0]) == len(B)**

In [25]:
matmul(a,b)

'Error compatibility matriz.'

**My own example 5 - Deifining A and B that are compatiible for multiplcation**

In [3]:
a = [[1, 2, 3, 4],
     [2, 3, 4, 5]]

b = [[1, 2, 3],
     [2, 3, 4],
     [5, 6, 7],
     [1, 1, 1]]

**My own example 6 - Runinng the correct Python matrix multiplication code with the matrices with dimensions compatible for multiplication.**

In [4]:
import random

In [28]:
random.normalvariate(0,1)

1.574554186637668

In [5]:
import random
def random_matrix(m, n):
    out = []
    for row in range(m):
        out.append([random.random() for _ in range(n)])
    return out

randm = random_matrix(2, 3)
randm

[[0.3370083653920918, 0.7858172236525, 0.06790719124589184],
 [0.9826672547146863, 0.581583373482674, 0.26832782136143174]]

**My own example 7 - Running 10 times matmul(randa, randb) with randa and randb a randon matrices of 600 x 100 and 100 x 600 and calulating the average execution time**

In [6]:
import time

tiempos = []

for i in range(10):
  inicio = time.time()
  matmul(random_matrix(600,100),random_matrix(100,600))
  fin= time.time()
  dif = fin - inicio
  tiempos.append(dif)

prom = sum(tiempos) / len(tiempos)
print(prom)

12.471080660820007

**My own example 8 - Creating the average execution time data frame and adding Python's average execution time**

In [7]:
dic = {'Languages':['Phyton'],'Average Secs':[prom]}

df = pd.DataFrame(dic)

**My own example 9 - Running 10 times randa and randb mutiplicaction as NumPy arrays  adding NumPy's average execution time**

In [32]:
%%time

np.random.seed(0)
for i in range(10):
  randa = np.array(random_matrix(600, 100))
  randb = np.array(random_matrix(100, 600))
  matmul(randa,randb)

CPU times: user 5min 10s, sys: 614 ms, total: 5min 11s
Wall time: 5min 13s

In [33]:
%%time
randa = random_matrix(600, 100)
randb = random_matrix(100, 600)
x = matmul(randa, randb)

CPU times: user 11 s, sys: 23 ms, total: 11 s
Wall time: 11.1 s

In [37]:
# Maybe that's not that bad?  Let's try a simpler case.
def python_dot_product(xs, ys):
    return sum(x * y for x, y in zip(xs, ys))

In [36]:
%%fortran
subroutine fortran_dot_product(xs, ys, result)
    double precision, intent(in) :: xs(:)
    double precision, intent(in) :: ys(:)
    double precision, intent(out) :: result
    
    result = sum(xs * ys)
end

In [38]:
list_data = [float(i) for i in range(100000)]
array_data = np.array(list_data)

In [39]:
%%time
python_dot_product(list_data, list_data)

CPU times: user 16.8 ms, sys: 0 ns, total: 16.8 ms
Wall time: 19.8 ms

333328333350000.0

In [40]:
%%time
fortran_dot_product(array_data, array_data)

CPU times: user 252 µs, sys: 4 µs, total: 256 µs
Wall time: 270 µs

333328333350000.0

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/sloth.gif" alt="Drawing" style="width: 1080px;"/></center>

**My own example 10 - Deifining A (2x2)  and B (2x2)**

In [39]:
%%writefile tmpf.f
subroutine matmul(A, B, C)
    real*8, dimension(600,100) :: A, B
    real*8, dimension(600,600) :: C
    integer :: i, j, k
    
    call random_seed() ! inicializar la semilla del generador de números aleatorios
    call random_number(A) ! llenar la matriz A con números aleatorios entre 0 y 1
    call random_number(B) ! llenar la matriz B con números aleatorios entre 0 y 1
    
    do i=1,600
        do j=1,600
            C(i,j) = 0.0d0
            do k=1,100
                C(i,j) = C(i,j) + A(i,k) * B(k,j)
            end do
        end do
    end do
    
end subroutine matmul


program main
    integer :: i
    real*8, dimension(600,100) :: A, B
    real*8, dimension(600,600) :: C
    real*8 :: start_time, end_time, total_time
    
    do i=0,11
        call cpu_time(start_time) ! registrar el tiempo de inicio de la multiplicación
        call matmul(A, B, C) ! llamar a la subrutina matmul para multiplicar las matrices
        call cpu_time(end_time) ! registrar el tiempo de fin de la multiplicación
        total_time = end_time - start_time ! calcular el tiempo total de la multiplicación
        write(*,*) "Tiempo de ejecución de la multiplicación ", i, ": ", total_time, " segundos."
    end do
    
end program main

Writing tmpf.f

In [ ]:
!gfortran tmpf.f -o tmpf
!./tmpf

**My own example 11 - Defining Fortran subroutine matmul(A,B) for 2x2 matrices**

**My own example 12 -Run Fortran subroutine matmul(A,B) with a and b 2x2 matrices**

**My own example 13 - Defining Fortran subroutine matmul(A,B) for 600x100 and 100x600 matrices**

**My own example 14 -Run Fortran subroutine matmul(A,B) with 600x100 and 100x600 matrices**

**My own example 15 - Running 10 times the  Fortran subroutine matmul(A,B) with 600x100 and 100x600 matrices and adding Fortran magic average execution time to the data frame**

**My own example 16 - Creating a  Fortran program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

**My own example 17 - Running the Fortran program that mutiplies 10 times A(600x100) and  B (100x600) matrices**


**My own example 18 - Adding Fortran average execution time to the data frame**

In [41]:
nuevo_elemento = pd.DataFrame({'Languages': 'Fortran', 'Average Secs': }, index=[1])

df = pd.concat([df, nuevo_elemento])

df

SyntaxError: ignored

**My own example 19 - Creating a c program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [8]:
%%writefile tmpc.c
#define N 600
#include <stdio.h>
#include <stdlib.h>
#include <time.h>
void crear_matriz(int A[N][N], int filas, int columnas);
void escribir_matriz(int A[N][N], int filas, int columnas);
void multiplicar(int A[N][N], int B[N][N],int C[N][N]);
void test();
void  test()
{
 int m, n, p;
 int A[N][N], B[N][N], C[N][N];
 m = 600;
 n = 100;
 crear_matriz(A, m, n);
 p = 600;
 crear_matriz(B, n, p);
 multiplicar(A, B, C);
 return;
}
void crear_matriz(int A[N][N], int filas, int columnas)
{
 int i, j;
 for (i=0; i<filas; i++)
 {
  for (j=0; j<columnas; j++)
  {
   A[i][j] = rand() % 100;
  }
 }
 return;
}
void escribir_matriz(int A[N][N], int filas, int columnas)
{
 for (int i=0; i<600; i++)
 {
  for (int j=0; j<600; j++)
  {
   printf("\t%d", A[i][j]);
  }
  printf("\n");
 }
 return;
}
void multiplicar(int A[N][N], int B[N][N], int C[N][N])
{
 int i, j, k;
 for(i=0; i<600; i++)
  for(k=0; k<600; k++)
   C[i][k]=0;
   
 for (i=0; i<600; i++)
  for (j=0; j<600; j++)
   for (k=0; k<100; k++)
    C[i][k] = C[i][k] + A[i][j]*B[j][k];
}
int main(){
    double time_spent = 0.0;
    double times[10];
    
    int i;
    for(i=0;i<10;i++){
        clock_t begin = clock();
        test();
        clock_t end = clock();
        time_spent += (double)(end - begin) / CLOCKS_PER_SEC;
        times[i] = time_spent;
    }
    
    double prom = 0;
    for(i=0;i<10;i++){
        prom += times[i];
    }
    prom = prom/10;
    printf("\t%f",prom);
}

Overwriting tmpc.c

**My own example 20 - Running the c program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [9]:
!gcc tmpc.c -o tmpc
!./tmpc

	0.874454

**My own example 21 - Adding c average execution time to the data frame**

In [11]:
nuevo_elemento = pd.DataFrame({'Languages': 'C', 'Average Secs': 0.874454}, index=[2])

df = pd.concat([df, nuevo_elemento])

df

  Languages  Average Secs
0    Phyton     12.471081
2         C     12.471081
2         C      0.874454

**My own example 22 - Creating a C++ program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [13]:
%%writefile tmpcc.cc
#include <iostream>
#include <chrono> 

using namespace std;
using namespace chrono; 

void test();

void test()
{
    int matriz1[600][100];
    int matriz2[100][600];
    int result[600][600];
    
    // Generar valores aleatorios para las matrices
    for(int i = 0; i < 600; i++) {
        for(int j = 0; j < 100; j++) {
            matriz1[i][j] = rand() % 100;
        }
    }
    
    for(int i = 0; i < 100; i++) {
        for(int j = 0; j < 600; j++) {
            matriz2[i][j] = rand() % 100;
        }
    }
    
    for (int i = 0; i < 600; i++) {
        for (int j = 0; j < 600; j++) {
            result[i][j] = 0;
            for (int k = 0; k < 100; k++) {
                result[i][j] += matriz1[i][k] * matriz2[k][j];
            }
        }
    }

    return;
}
int main(){
    float tiempos[10];
    
    for(int i=0; i<10; i++){
        auto start = high_resolution_clock::now();
        
        test();
        
        // Crear un punto de finalización para medir el tiempo
        auto stop = high_resolution_clock::now();
    
        // Calcular la duración en segundos como un valor double
        auto duration = duration_cast<microseconds>(stop - start);
        tiempos[i] = duration.count();
    }
    
    float prom=0;
    for(int i=0; i<10; i++){
        prom += tiempos[i];
    }
    cout << prom/10 << endl;    
}

Overwriting tmpcc.cc

**My own example 23 - Running the C++ program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [14]:
!g++ tmpcc.cc -o tmpcc
!./tmpcc

168808

**My own example 24 - Adding C++ average execution time to the data frame**

In [15]:
nuevo_elemento = pd.DataFrame({'Languages': 'C++', 'Average Secs': 0.172142}, index=[3])

df = pd.concat([df, nuevo_elemento])

df

  Languages  Average Secs
0    Phyton     12.471081
2         C     12.471081
2         C      0.874454
3       C++      0.172142

**My own example 25 - Creating a Java program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [16]:
%%writefile Main.java
 class Main {
    public static void main(String[] args) {
        long[] tiempos = new long[10];
        
        for(int i=0;i<10;i++){
            long startTime = System.nanoTime();
            test();
            long endTime = System.nanoTime();
        
            long duration = (endTime - startTime) / 1000000;    
            
            tiempos[i] = duration;
        }
        
        long prom = 0;
        for(int i=0;i<10;i++){
            prom += tiempos[i];
        }
        prom = prom/10;
        System.out.println(prom + " nanosegundos");
    }
    
    public static void test(){
        final int ROWS1 = 600; // Definir el número de filas de la primera matriz
        final int COLS1 = 100; // Definir el número de columnas de la primera matriz
        final int ROWS2 = 100; // Definir el número de filas de la segunda matriz
        final int COLS2 = 600; // Definir el número de columnas de la segunda matriz
        
        // Definir las dos matrices a multiplicar
        int[][] mat1 = new int[ROWS1][COLS1];
        int[][] mat2 = new int[ROWS2][COLS2];
        
        // Llenar las matrices con valores aleatorios
        for (int i = 0; i < ROWS1; i++) {
            for (int j = 0; j < COLS1; j++) {
                mat1[i][j] = (int) (Math.random() * 10);
            }
        }
        
        for (int i = 0; i < ROWS2; i++) {
            for (int j = 0; j < COLS2; j++) {
                mat2[i][j] = (int) (Math.random() * 10);
            }
        }
        
        // Definir la matriz donde se almacenará el resultado de la multiplicación
        int[][] result = new int[ROWS1][COLS2];
        
        // Multiplicar las dos matrices y almacenar el resultado en la matriz result
        for (int i = 0; i < ROWS1; i++) {
            for (int j = 0; j < COLS2; j++) {
                result[i][j] = 0;
                for (int k = 0; k < ROWS2; k++) {
                    result[i][j] += mat1[i][k] * mat2[k][j];
                }
            }
        }
    }
}

Overwriting Main.java

**My own example 26 - Running the Java program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [17]:
!javac Main.java
!java Main

96 nanosegundos

**My own example 27 - Adding Java average execution time to the data frame**

In [18]:
nuevo_elemento = pd.DataFrame({'Languages': 'Java', 'Average Secs': 0.000000113}, index=[4])

df = pd.concat([df, nuevo_elemento])

df

  Languages  Average Secs
0    Phyton  1.247108e+01
2         C  1.247108e+01
2         C  8.744540e-01
3       C++  1.721420e-01
4      Java  1.130000e-07

**My own example 28 - Creating a Javascript program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [19]:
%%writefile tmp.js
function multiplicarMatrices(matrizA, matrizB) {
  const filasA = 600;
  const columnasA = 100;
  const filasB = 100;
  const columnasB = 600;
  
  // Inicializar matriz de resultado
  const matrizC = new Array(filasA);
  for (let i = 0; i < filasA; i++) {
    matrizC[i] = new Array(columnasB).fill(0);
  }
  
  // Multiplicar matrices
  for (let i = 0; i < filasA; i++) {
    for (let j = 0; j < columnasB; j++) {
      for (let k = 0; k < columnasA; k++) {
        matrizC[i][j] += matrizA[i][k] * matrizB[k][j];
      }
    }
  }
  
  // Retornar matriz de resultado
  return matrizC;
}

// Crear matrices de ejemplo
const matrizA = new Array(600);
for (let i = 0; i < 600; i++) {
  matrizA[i] = new Array(100);
  for (let j = 0; j < 100; j++) {
    matrizA[i][j] = 1;
  }
}

const matrizB = new Array(100);
for (let i = 0; i < 100; i++) {
  matrizB[i] = new Array(600);
  for (let j = 0; j < 600; j++) {
    matrizB[i][j] = 2;
  }
}

// Multiplicar matrices 10 veces y calcular tiempo de ejecución
let total = 0;
for (let i = 0; i < 10; i++) {
    const startTime = new Date().getTime();
    const matrizC = multiplicarMatrices(matrizA, matrizB);
    const endTime = new Date().getTime();
    const duration = endTime - startTime;
    total += duration;
}

const prom = total/10;
console.log(prom);

Overwriting tmp.js

**My own example 29 - Running the Javascript program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [20]:
!node tmp.js

302.3

**My own example 30 - Adding Javascript average execution time to the data frame**

In [21]:
nuevo_elemento = pd.DataFrame({'Languages': 'JavaScript', 'Average Secs': 0.4893}, index=[5])

df = pd.concat([df, nuevo_elemento])

df

    Languages  Average Secs
0      Phyton  1.247108e+01
2           C  1.247108e+01
2           C  8.744540e-01
3         C++  1.721420e-01
4        Java  1.130000e-07
5  JavaScript  4.893000e-01

**My own example 31 - Finding the minimun average esecuiton time in the data frame**

In [22]:
min_time = df['Average Secs'].min()
tiempo_minimo = df.loc[df['Average Secs'] == min_time]
tiempo_minimo

  Languages  Average Secs
4      Java  1.130000e-07

**My own example 32 - Adding the Speed factor columne to the data frame**

In [24]:
df = df.assign(Speed_Factor=[df.loc[df['Languages'] == 'Java', 'Average Secs'].iloc[0] / df.loc[df['Languages'] == 'Phyton', 'Average Secs'].iloc[0],
                             df.loc[df['Languages'] == 'Java', 'Average Secs'].iloc[0] / df.loc[df['Languages'] == 'C', 'Average Secs'].iloc[0],
                             df.loc[df['Languages'] == 'Java', 'Average Secs'].iloc[0] / df.loc[df['Languages'] == 'C++', 'Average Secs'].iloc[0],
                             df.loc[df['Languages'] == 'Java', 'Average Secs'].iloc[0] / df.loc[df['Languages'] == 'Java', 'Average Secs'].iloc[0],
                             df.loc[df['Languages'] == 'Java', 'Average Secs'].iloc[0] / df.loc[df['Languages'] == 'JavaScript', 'Average Secs'].iloc[0]])
print(df)

    Languages  Average Secs  Speed_Factor
0      Phyton  1.247108e+01  9.060963e-09
2           C  1.247108e+01  9.060963e-09
2           C  8.744540e-01  9.060963e-09
3         C++  1.721420e-01  6.564348e-07
4        Java  1.130000e-07  1.000000e+00
5  JavaScript  4.893000e-01  2.309422e-07

**My own example 33 - Sorting the the data frame by average execution time**

In [26]:
df = df.sort_values('Average Secs')
df

    Languages  Average Secs  Speed_Factor
4        Java  1.130000e-07  1.000000e+00
3         C++  1.721420e-01  6.564348e-07
5  JavaScript  4.893000e-01  2.309422e-07
2           C  8.744540e-01  9.060963e-09
0      Phyton  1.247108e+01  9.060963e-09
2           C  1.247108e+01  9.060963e-09

## Why is the Python Version so Much Slower?

In [27]:
# Dynamic typing.
def mul_elemwise(xs, ys):
    return [x * y for x, y in zip(xs, ys)]

mul_elemwise([1, 2, 3, 4], [1, 2 + 0j, 3.0, 'four'])
#[type(x) for x in _]

[1, (4+0j), 9.0, 'fourfourfourfour']

In [28]:
# Interpretation overhead.
source_code = 'a + b * c'
bytecode = compile(source_code, '', 'eval')
import dis; dis.dis(bytecode)

  1           0 LOAD_NAME                0 (a)
              2 LOAD_NAME                1 (b)
              4 LOAD_NAME                2 (c)
              6 BINARY_MULTIPLY
              8 BINARY_ADD
             10 RETURN_VALUE

## Why is the Python Version so Slow?
- Dynamic typing means that every single operation requires dispatching on the input type.
- Having an interpreter means that every instruction is fetched and dispatched at runtime.
- Other overheads:
  - Arbitrary-size integers.
  - Reference-counted garbage collection.

> This is the paradox that we have to work with when we're doing scientific or numerically-intensive Python. What makes Python fast for development -- this high-level, interpreted, and dynamically-typed aspect of the language -- is exactly what makes it slow for code execution.

- Jake VanderPlas, [*Losing Your Loops: Fast Numerical Computing with NumPy*](https://www.youtube.com/watch?v=EEUXKG97YRw)

# What Do We Do?

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/runaway.gif" alt="Drawing" style="width: 50%;"/></center>

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/thisisfine.gif" alt="Drawing" style="width: 1080px;"/></center>

- Python is slow for numerical computation because it performs dynamic dispatch on every operation we perform...

- ...but often, we just want to do the same thing over and over in a loop!

- If we don't need Python's dynamicism, we don't want to pay (much) for it.

- **Idea:** Dispatch **once per operation** instead of **once per element**.

In [30]:
import numpy as np

data = np.array([1, 2, 3, 4])
data

array([1, 2, 3, 4])

In [31]:
data + data

array([2, 4, 6, 8])

In [32]:
%%time
# Naive dot product
(data * data).sum()

CPU times: user 78 µs, sys: 1 µs, total: 79 µs
Wall time: 86.1 µs

30

In [33]:
%%time
# Built-in dot product.
data.dot(data)

CPU times: user 38 µs, sys: 1 µs, total: 39 µs
Wall time: 41.5 µs

30

In [41]:
%%time
fortran_dot_product(data, data)

CPU times: user 65 µs, sys: 1e+03 ns, total: 66 µs
Wall time: 70.3 µs

30.0

In [ ]:
# Numpy won't allow us to write a string into an int array.
data[0] = "foo"

In [ ]:
# We also can't grow an array once it's created.
data.append(3)

In [44]:
# We **can** reshape an array though.
two_by_two = data.reshape(2, 2)
two_by_two

array([[1, 2],
       [3, 4]])

Numpy arrays are:

- Fixed-type

- Size-immutable

- Multi-dimensional

- Fast\*

\* If you use them correctly.

# What's in an Array?

In [45]:
arr = np.array([1, 2, 3, 4, 5, 6], dtype='int16').reshape(2, 3)
print("Array:\n", arr, sep='')
print("===========")
print("DType:", arr.dtype)
print("Shape:", arr.shape)
print("Strides:", arr.strides)
print("Data:", arr.data.tobytes())

Array:
[[1 2 3]
 [4 5 6]]
===========
DType: int16
Shape: (2, 3)
Strides: (6, 2)
Data: b'\x01\x00\x02\x00\x03\x00\x04\x00\x05\x00\x06\x00'

# Core Operations

- Vectorized **ufuncs** for elementwise operations.
- Fancy indexing and masking for selection and filtering.
- Aggregations across axes.
- Broadcasting

# UFuncs

UFuncs (universal functions) are functions that operate elementwise on one or more arrays.

In [46]:
data = np.arange(15).reshape(3, 5)
data

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [47]:
# Binary operators.
data * data

array([[  0,   1,   4,   9,  16],
       [ 25,  36,  49,  64,  81],
       [100, 121, 144, 169, 196]])

In [48]:
# Unary functions.
np.sqrt(data)

array([[0.        , 1.        , 1.41421356, 1.73205081, 2.        ],
       [2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ],
       [3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739]])

In [49]:
# Comparison operations
(data % 3) == 0

array([[ True, False, False,  True, False],
       [False,  True, False, False,  True],
       [False, False,  True, False, False]])

In [50]:
# Boolean combinators.
((data % 2) == 0) & ((data % 3) == 0)

array([[ True, False, False, False, False],
       [False,  True, False, False, False],
       [False, False,  True, False, False]])

In [51]:
# as of python 3.5, @ is matrix-multiply
data @ data.T

array([[ 30,  80, 130],
       [ 80, 255, 430],
       [130, 430, 730]])

# UFuncs Review

- UFuncs provide efficient elementwise operations applied across one or more arrays.
- Arithmetic Operators (`+`, `*`, `/`)
- Comparisons (`==`, `>`, `!=`)
- Boolean Operators (`&`, `|`, `^`)
- Trigonometric Functions (`sin`, `cos`)
- Transcendental Functions (`exp`, `log`)

# Selections

We often want to perform an operation on just a subset of our data.

In [52]:
sines = np.sin(np.linspace(0, 3.14, 10))
cosines = np.cos(np.linspace(0, 3.14, 10))
sines

array([0.        , 0.34185385, 0.64251645, 0.86575984, 0.98468459,
       0.98496101, 0.8665558 , 0.64373604, 0.34335012, 0.00159265])

In [53]:
# Slicing works with the same semantics as Python lists.
sines[0]

0.0

In [54]:
sines[:3]  # First three elements

array([0.        , 0.34185385, 0.64251645])

In [55]:
sines[5:]  # Elements from 5 on.

array([0.98496101, 0.8665558 , 0.64373604, 0.34335012, 0.00159265])

In [56]:
sines[::2]  # Every other element.

array([0.        , 0.64251645, 0.98468459, 0.8665558 , 0.34335012])

In [57]:
# More interesting: we can index with boolean arrays to filter by a predicate.
print("sines:\n", sines)
print("sines > 0.5:\n", sines > 0.5)
print("sines[sines > 0.5]:\n", sines[sines > 0.5])

sines:
 [0.         0.34185385 0.64251645 0.86575984 0.98468459 0.98496101
 0.8665558  0.64373604 0.34335012 0.00159265]
sines > 0.5:
 [False False  True  True  True  True  True  True False False]
sines[sines > 0.5]:
 [0.64251645 0.86575984 0.98468459 0.98496101 0.8665558  0.64373604]

In [58]:
# We index with lists/arrays of integers to select values at those indices.
print(sines)
sines[[0, 4, 7]]

[0.         0.34185385 0.64251645 0.86575984 0.98468459 0.98496101
 0.8665558  0.64373604 0.34335012 0.00159265]

array([0.        , 0.98468459, 0.64373604])

In [59]:
# Index arrays are often used for sorting one or more arrays.
unsorted_data = np.array([1, 3, 2, 12, -1, 5, 2])

In [60]:
sort_indices = np.argsort(unsorted_data)
sort_indices

array([4, 0, 2, 6, 1, 5, 3])

In [61]:
unsorted_data[sort_indices]

array([-1,  1,  2,  2,  3,  5, 12])

In [62]:
market_caps = np.array([12, 6, 10, 5, 6])  # Presumably in dollars?
assets = np.array(['A', 'B', 'C', 'D', 'E'])

In [63]:
# Sort assets by market cap by using the permutation that would sort market caps on ``assets``.
sort_by_mcap = np.argsort(market_caps)
assets[sort_by_mcap]

array(['D', 'B', 'E', 'C', 'A'], dtype='<U1')

In [64]:
# Indexers are also useful for aligning data.
print("Dates:\n", repr(event_dates))
print("Values:\n", repr(event_values))
print("Calendar:\n", repr(calendar))

Dates:
 array(['2017-01-06', '2017-01-07', '2017-01-08'], dtype='datetime64[D]')
Values:
 array([10, 15, 20])
Calendar:
 array(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
       '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
       '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25',
       '2017-01-26', '2017-01-27', '2017-01-30', '2017-01-31',
       '2017-02-01'], dtype='datetime64[D]')

In [65]:
print("Raw Dates:", event_dates)
print("Indices:", calendar.searchsorted(event_dates))
print("Forward-Filled Dates:", calendar[calendar.searchsorted(event_dates)])

Raw Dates: ['2017-01-06' '2017-01-07' '2017-01-08']
Indices: [3 4 4]
Forward-Filled Dates: ['2017-01-06' '2017-01-09' '2017-01-09']

On multi-dimensional arrays, we can slice along each axis independently.

In [66]:
data = np.arange(25).reshape(5, 5)
data

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [67]:
data[:2, :2]  # First two rows and first two columns.

array([[0, 1],
       [5, 6]])

In [68]:
data[:2, [0, -1]]  # First two rows, first and last columns.

array([[0, 4],
       [5, 9]])

In [69]:
data[(data[:, 0] % 2) == 0]  # Rows where the first column is divisible by two.

array([[ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24]])

# Selections Review

- Indexing with an integer removes a dimension.
- Slicing operations work on Numpy arrays the same way they do on lists.
- Indexing with a boolean array filters to True locations.
- Indexing with an integer array selects indices along an axis.
- Multidimensional arrays can apply selections independently along different axes.

## Reductions

Functions that reduce an array to a scalar.

$Var(X) = \frac{1}{N}\sqrt{\sum_{i=1}^N (x_i - \bar{x})^2}$

In [70]:
def variance(x):
    return ((x - x.mean()) ** 2).sum() / len(x)

In [71]:
variance(np.random.standard_normal(1000))

1.1053005738837625

- `sum()` and `mean()` are both **reductions**.

- In the simplest case, we use these to reduce an entire array into a single value...

In [72]:
data = np.arange(30)
data.mean()

14.5

- ...but we can do more interesting things with multi-dimensional arrays.

In [73]:
data = np.arange(30).reshape(3, 10)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]])

In [74]:
data.mean()

14.5

In [75]:
data.mean(axis=0)

array([10., 11., 12., 13., 14., 15., 16., 17., 18., 19.])

In [76]:
data.mean(axis=1)

array([ 4.5, 14.5, 24.5])

## Reductions Review

- Reductions allow us to perform efficient aggregations over arrays.
- We can do aggregations over a single axis to collapse a single dimension.
- Many built-in reductions (`mean`, `sum`, `min`, `max`, `median`, ...).

# Broadcasting

In [77]:
row = np.array([1, 2, 3, 4])
column = np.array([[1], [2], [3]])
print("Row:\n", row, sep='')
print("Column:\n", column, sep='')

Row:
[1 2 3 4]
Column:
[[1]
 [2]
 [3]]

In [78]:
row + column

array([[2, 3, 4, 5],
       [3, 4, 5, 6],
       [4, 5, 6, 7]])

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/broadcasting.png" alt="Drawing" style="width: 60%;"/></center>

<h5>Source: http://www.scipy-lectures.org/_images/numpy_broadcasting.png</h5>

In [79]:
# Broadcasting is particularly useful in conjunction with reductions.
print("Data:\n", data, sep='')
print("Mean:\n", data.mean(axis=0), sep='')
print("Data - Mean:\n", data - data.mean(axis=0), sep='')

Data:
[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]]
Mean:
[10. 11. 12. 13. 14. 15. 16. 17. 18. 19.]
Data - Mean:
[[-10. -10. -10. -10. -10. -10. -10. -10. -10. -10.]
 [  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.]
 [ 10.  10.  10.  10.  10.  10.  10.  10.  10.  10.]]

# Broadcasting Review

- Numpy operations can work on arrays of different dimensions as long as the arrays' shapes are still "compatible".
- Broadcasting works by "tiling" the smaller array along the missing dimension.
- The result of a broadcasted operation is always at least as large in each dimension as the largest array in that dimension.

# Numpy Review

- Numerical algorithms are slow in pure Python because the overhead dynamic dispatch dominates our runtime.

- Numpy solves this problem by:
  1. Imposing additional restrictions on the contents of arrays.
  2. Moving the inner loops of our algorithms into compiled C code.

- Using Numpy effectively often requires reworking an algorithms to use vectorized operations instead of for-loops, but the resulting operations are usually simpler, clearer, and faster than the pure Python equivalent.

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/unicorn.jpg" alt="Drawing" style="width: 75%;"/></center>

Numpy is great for many things, but...

- Sometimes our data is equipped with a natural set of **labels**:
  - Dates/Times
  - Stock Tickers
  - Field Names (e.g. Open/High/Low/Close)

- Sometimes we have **more than one type of data** that we want to keep grouped together.
  - Tables with a mix of real-valued and categorical data.

- Sometimes we have **missing** data, which we need to ignore, fill, or otherwise work around.

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/panda-wrangling.gif" alt="Drawing" style="width: 75%;"/></center>

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/pandas_logo.png" alt="Drawing" style="width: 75%;"/></center>

Pandas extends Numpy with more complex data structures:

- `Series`: 1-dimensional, homogenously-typed, labelled array.
- `DataFrame`: 2-dimensional, semi-homogenous, labelled table.

Pandas also provides many utilities for: 
- Input/Output
- Data Cleaning
- Rolling Algorithms
- Plotting

# Selection in Pandas

In [80]:
s = pd.Series(index=['a', 'b', 'c', 'd', 'e'], data=[1, 2, 3, 4, 5])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [81]:
# There are two pieces to a Series: the index and the values.
print("The index is:", s.index)
print("The values are:", s.values)

The index is: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
The values are: [1 2 3 4 5]

In [82]:
# We can look up values out of a Series by position...
s.iloc[0]

1

In [83]:
# ... or by label.
s.loc['a']

1

In [84]:
# Slicing works as expected...
s.iloc[:2]

a    1
b    2
dtype: int64

In [85]:
# ...but it works with labels too!
s.loc[:'c']

a    1
b    2
c    3
dtype: int64

In [86]:
# Fancy indexing works the same as in numpy.
s.iloc[[0, -1]]

a    1
e    5
dtype: int64

In [87]:
# As does boolean masking.
s.loc[s > 2]

c    3
d    4
e    5
dtype: int64

In [88]:
# Element-wise operations are aligned by index.
other_s = pd.Series({'a': 10.0, 'c': 20.0, 'd': 30.0, 'z': 40.0})
other_s

a    10.0
c    20.0
d    30.0
z    40.0
dtype: float64

In [89]:
s + other_s

a    11.0
b     NaN
c    23.0
d    34.0
e     NaN
z     NaN
dtype: float64

In [90]:
# We can fill in missing values with fillna().
(s + other_s).fillna(0.0)

a    11.0
b     0.0
c    23.0
d    34.0
e     0.0
z     0.0
dtype: float64

In [ ]:
# Most real datasets are read in from an external file format.
aapl = pd.read_csv('AAPL.csv', parse_dates=['Date'], index_col='Date')
aapl.head()

In [ ]:
# Slicing generalizes to two dimensions as you'd expect:
aapl.iloc[:2, :2]

In [ ]:
aapl.loc[pd.Timestamp('2010-02-01'):pd.Timestamp('2010-02-04'), ['Close', 'Volume']]

# Rolling Operations

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/rolling.gif" alt="Drawing" style="width: 75%;"/></center>

In [ ]:
aapl.rolling(5)[['Close', 'Adj Close']].mean().plot();

In [ ]:
# Drop `Volume`, since it's way bigger than everything else.
aapl.drop('Volume', axis=1).resample('2W').max().plot();

In [ ]:
# 30-day rolling exponentially-weighted stddev of returns.
aapl['Close'].pct_change().ewm(span=30).std().plot();

# "Real World" Data

In [ ]:
from demos.avocados import read_avocadata

avocados = read_avocadata('2014', '2016')
avocados.head()

In [ ]:
# Unlike numpy arrays, pandas DataFrames can have a different dtype for each column.
avocados.dtypes

In [ ]:
# What's the regional average price of a HASS avocado every day?
hass = avocados[avocados.Variety == 'HASS']
hass.groupby(['Date', 'Region'])['Weighted Avg Price'].mean().unstack().ffill().plot();

In [ ]:
def _organic_spread(group):

    if len(group.columns) != 2:
        return pd.Series(index=group.index, data=0.0)
    
    is_organic = group.columns.get_level_values('Organic').values.astype(bool)
    organics = group.loc[:, is_organic].squeeze()
    non_organics = group.loc[:, ~is_organic].squeeze()
    diff = organics - non_organics
    return diff

def organic_spread_by_region(df):
    """What's the difference between the price of an organic 
    and non-organic avocado within each region?
    """
    return (
        df
        .set_index(['Date', 'Region', 'Organic'])
         ['Weighted Avg Price']
        .unstack(level=['Region', 'Organic'])
        .ffill()
        .groupby(level='Region', axis=1)
        .apply(_organic_spread)
    )

In [ ]:
organic_spread_by_region(hass).plot();
plt.gca().set_title("Daily Regional Organic Spread");
plt.legend(bbox_to_anchor=(1, 1));

In [ ]:
spread_correlation = organic_spread_by_region(hass).corr()
spread_correlation

In [ ]:
import seaborn as sns
grid = sns.clustermap(spread_correlation, annot=True)
fig = grid.fig
axes = fig.axes
ax = axes[2]
ax.set_xticklabels(ax.get_xticklabels(), rotation=45);

# Pandas Review

- Pandas extends numpy with more complex datastructures and algorithms.
- If you understand numpy, you understand 90% of pandas.
- `groupby`, `set_index`, and `unstack` are powerful tools for working with categorical data.
- Avocado prices are surprisingly interesting :)

# Thanks!